<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user %> <small>(<%= @user.groups.map(&:to_s).join(',') %>)</small></h1>
</div>

<p>Graphs, Tables, etc will go here.... I promise</p>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
</div>
