<%= content_for(:breadcrumb) do %>
  <div class="span12">
    <ul class="breadcrumb">
      <li><%= link_to t('home'), root_path %><span class="divider">/</span></li>
      <li><%= link_to resource, resource %><span class="divider">/</span></li>
      <li class="active">Dashboard</li>
    </ul>
  </div>  
  
<% end %>

<%= render 'shared/dashboard' %>